[Unit]
Description=Notify for failed Caddy synchronization unit %i

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/lsyncd-sync-failure-notify.sh "systemd unit failed: %i"

