# Server configurations specific ignores
*.log
*.tmp
*.bak
*.out
*.err
*.pid
.vscode/

# General ignores
.DS_Store
Thumbs.db

#vexp
.vexp/index.lock
.vexp/index.db-shm
.vexp/index.db-wal
.vexp/index.db